header {
    background-color: #f8f8f8;
}

header ul {
    margin: 0;
}

header a, header li {
    padding: 1.4 rem 0;
    color: #777;
    font-weight: bold;
}

section#intro-header {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

section#intro-header .wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

section#intro-header h1, section#intro-header h2 {
    color: #FFF;
}

section#intro-header h2 {
    font-size: 1.5rem;
}