<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WG-Dienst</title>
    <link rel="shortcut icon" href="./icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="row">
                    <a class="brand pull-left">NLT Software: Wg Dienst</a>
                    <ul class="list-inline list-unstyled pull-right">
                        <li><a href="#about">Putzplan</a></li>
                        <li><a href="mailto:lekanetamba@gmail.com">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section id="intro-header">
            <div class="container">
                <div class="row">
                    <div class="wrap-headline text-center">
                        <h1>Germanusstraße 5. WG OG</h1>
                        <h2>{{ getWellFormatedDate }}</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container">
                <div class="row well text-center">
                        <div class="alert alert-info" role="alert" v-for="(name, index) in people">
                            <strong>{{ tasks[ index ] }}</strong> assigned to: {{ name }}
                        </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./app.js"></script>
</body>

</html>